
NASA_API_KEY=""
NASA_APOD_URL="https://api.nasa.gov/planetary/apod?api_key="

ADVICE_URL="https://api.adviceslip.com/advice"

PRODUCT_DATA_URL="https://dummyjson.com/products/category/groceries?limit=10&skip=0&select=id,title,description,category,price,rating,stock,brand,sku,thumbnail"

SUPABASE_URL="https://fdnlhnqxhqfohwfsadxl.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZkbmxobnF4aHFmb2h3ZnNhZHhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzE5Mjc4OTgsImV4cCI6MjA0NzUwMzg5OH0.GRl8sLtEeL2f3jz77ZQqJJtERa4SCXLSGB0hbPvWtWM"